# Flutter specific
.dart_tool/
.flutter/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/app/debug.keystore

# IntelliJ IDEs
.idea/
*.iml

# VS Code
.vscode/

# MacOS
.DS_Store

# Pub dependencies
pubspec.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Others
*.log
*.swp
